<!DOCTYPE html>
<html>
<head>
    <style>
        body  {
            font-size: 150%;
            font-family: monospace;
        }

        #logo
        {
            font-family: Calibri, sans-serif;
            font-weight: lighter;
            color: #505050;
            margin: 0.5em;
        }

        #calculator
        {
            text-align: center;
            margin-top: 1em;
        }

    </style>
</head>
<title>WebCalc</title>
    <div id="calculator">
        <div id="logo">
            Casidave Calcutron
            <ul>/api
                <li>int x</li>
                <li>int y</li>
                <li>string method [add,minus,product,divi,power,modulu] </li>
            </ul>
        </div>
    </div>
</html>
